<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BgBottomPanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1425,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1425,121}}</string>
                <key>sourceSize</key>
                <string>{1425,121}</string>
            </dict>
            <key>BgDong.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1298},{112,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,89}}</string>
                <key>sourceSize</key>
                <string>{112,89}</string>
            </dict>
            <key>BgMoneyMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,296},{238,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,49}}</string>
                <key>sourceSize</key>
                <string>{238,49}</string>
            </dict>
            <key>BgSoDu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,346},{298,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,40}}</string>
                <key>sourceSize</key>
                <string>{298,40}</string>
            </dict>
            <key>BgThang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,206},{262,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,89}}</string>
                <key>sourceSize</key>
                <string>{262,89}</string>
            </dict>
            <key>BgTopMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,122},{1425,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1425,83}}</string>
                <key>sourceSize</key>
                <string>{1425,83}</string>
            </dict>
            <key>ButtonExit.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,206},{82,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,59}}</string>
                <key>sourceSize</key>
                <string>{82,59}</string>
            </dict>
            <key>ButtonMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,289},{82,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,59}}</string>
                <key>sourceSize</key>
                <string>{82,59}</string>
            </dict>
            <key>ButtonQuay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,346},{216,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,99}}</string>
                <key>sourceSize</key>
                <string>{216,99}</string>
            </dict>
            <key>ButtonVang.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,206},{156,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,93}}</string>
                <key>sourceSize</key>
                <string>{156,93}</string>
            </dict>
            <key>ButtonXanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,363},{154,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,91}}</string>
                <key>sourceSize</key>
                <string>{154,91}</string>
            </dict>
            <key>CaSi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,596},{160,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,164}}</string>
                <key>sourceSize</key>
                <string>{160,164}</string>
            </dict>
            <key>CaSi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,645},{160,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,164}}</string>
                <key>sourceSize</key>
                <string>{160,164}</string>
            </dict>
            <key>CaSi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,806},{160,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,164}}</string>
                <key>sourceSize</key>
                <string>{160,164}</string>
            </dict>
            <key>CaSi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,679},{160,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,164}}</string>
                <key>sourceSize</key>
                <string>{160,164}</string>
            </dict>
            <key>CaSi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,757},{160,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,164}}</string>
                <key>sourceSize</key>
                <string>{160,164}</string>
            </dict>
            <key>CaSi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,806},{160,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,163}}</string>
                <key>sourceSize</key>
                <string>{160,163}</string>
            </dict>
            <key>CaSi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,840},{160,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,164}}</string>
                <key>sourceSize</key>
                <string>{160,164}</string>
            </dict>
            <key>CaSiNhi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,518},{165,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,149}}</string>
                <key>sourceSize</key>
                <string>{165,149}</string>
            </dict>
            <key>CaSiNhi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1117},{165,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,149}}</string>
                <key>sourceSize</key>
                <string>{165,149}</string>
            </dict>
            <key>CaSiNhi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,379},{165,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,149}}</string>
                <key>sourceSize</key>
                <string>{165,149}</string>
            </dict>
            <key>CaSiNhi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,379},{165,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,149}}</string>
                <key>sourceSize</key>
                <string>{165,149}</string>
            </dict>
            <key>CaSiNhi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,446},{165,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,149}}</string>
                <key>sourceSize</key>
                <string>{165,149}</string>
            </dict>
            <key>CaSiNhi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,529},{165,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,149}}</string>
                <key>sourceSize</key>
                <string>{165,149}</string>
            </dict>
            <key>CaSiNhi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,529},{165,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,149}}</string>
                <key>sourceSize</key>
                <string>{165,149}</string>
            </dict>
            <key>DienVien1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1168},{165,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,171}}</string>
                <key>sourceSize</key>
                <string>{165,171}</string>
            </dict>
            <key>DienVien2.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,777},{165,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,169}}</string>
                <key>sourceSize</key>
                <string>{165,169}</string>
            </dict>
            <key>DienVien3.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,947},{165,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,169}}</string>
                <key>sourceSize</key>
                <string>{165,169}</string>
            </dict>
            <key>DienVien4.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1117},{165,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,169}}</string>
                <key>sourceSize</key>
                <string>{165,169}</string>
            </dict>
            <key>DienVien5.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,777},{165,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,169}}</string>
                <key>sourceSize</key>
                <string>{165,169}</string>
            </dict>
            <key>DienVien6.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1168},{165,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,171}}</string>
                <key>sourceSize</key>
                <string>{165,171}</string>
            </dict>
            <key>DienVien7.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,947},{165,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,169}}</string>
                <key>sourceSize</key>
                <string>{165,169}</string>
            </dict>
            <key>IconCaSi.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,777},{282,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,390}}</string>
                <key>sourceSize</key>
                <string>{282,390}</string>
            </dict>
            <key>IconCaSiNhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,206},{287,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,404}}</string>
                <key>sourceSize</key>
                <string>{287,404}</string>
            </dict>
            <key>IconDienVien.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,494},{282,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,403}}</string>
                <key>sourceSize</key>
                <string>{282,403}</string>
            </dict>
            <key>IconMenuCasi.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,372},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>IconMenuCasiNhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,425},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>IconMenuDienVien.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,478},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>LineShowBiz.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1411},{8,610}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,610}}</string>
                <key>sourceSize</key>
                <string>{8,610}</string>
            </dict>
            <key>LineShowBiz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,206},{1091,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1091,19}}</string>
                <key>sourceSize</key>
                <string>{1091,19}</string>
            </dict>
            <key>LogoShowBiz.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,206},{547,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{547,172}}</string>
                <key>sourceSize</key>
                <string>{547,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasShowBiz.png</string>
            <key>size</key>
            <string>{1425,1425}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e625b3d5f26efb41ad149f67d2720a32:1f25d78b6058a74857672589017ff194:f7a10c67dd8d947f9ed23ac5ae11aa1e$</string>
            <key>textureFileName</key>
            <string>AtlasShowBiz.png</string>
        </dict>
    </dict>
</plist>
