<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BgNumber.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1155,392},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BgRow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{460,704},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtonHong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,69}</string>
                <key>spriteSourceSize</key>
                <string>{155,69}</string>
                <key>textureRect</key>
                <string>{{1194,2},{155,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtonTronDo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{46,45}</string>
                <key>textureRect</key>
                <string>{{1307,244},{46,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtonTronVang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,45}</string>
                <key>spriteSourceSize</key>
                <string>{47,45}</string>
                <key>textureRect</key>
                <string>{{1307,197},{47,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtonTronXanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1307,291},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,52}</string>
                <key>textureRect</key>
                <string>{{1307,73},{60,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{632,935},{60,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R10b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{692,935},{60,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,61}</string>
                <key>spriteSourceSize</key>
                <string>{63,61}</string>
                <key>textureRect</key>
                <string>{{2,935},{63,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R11b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,59}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{327,935},{60,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{752,935},{60,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R12b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{812,935},{60,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{872,935},{60,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R13b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{932,935},{60,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{992,935},{60,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R14b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{1052,935},{60,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{1086,1117},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R15b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{1086,1177},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{1086,1237},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R16b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{1086,1297},{60,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{1146,1297},{60,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R17b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{340,865},{60,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{400,865},{60,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R18b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{564,530},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{564,590},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R19b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{564,650},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R1b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{60,52}</string>
                <key>textureRect</key>
                <string>{{1307,135},{60,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,59}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{388,935},{60,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,58}</string>
                <key>spriteSourceSize</key>
                <string>{63,58}</string>
                <key>textureRect</key>
                <string>{{1086,997},{63,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R20b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,58}</string>
                <key>spriteSourceSize</key>
                <string>{63,58}</string>
                <key>textureRect</key>
                <string>{{1086,1057},{63,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R2b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,59}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{449,935},{60,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,53}</string>
                <key>spriteSourceSize</key>
                <string>{60,53}</string>
                <key>textureRect</key>
                <string>{{1306,379},{60,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R3b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,53}</string>
                <key>spriteSourceSize</key>
                <string>{60,53}</string>
                <key>textureRect</key>
                <string>{{1306,441},{60,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{60,62}</string>
                <key>textureRect</key>
                <string>{{199,935},{60,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R4b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{60,62}</string>
                <key>textureRect</key>
                <string>{{263,935},{60,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{67,935},{60,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R5b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{133,935},{60,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,59}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{510,935},{60,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R6b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,59}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{571,935},{60,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{449,783},{60,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R7b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{460,845},{60,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{509,783},{60,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R8b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{569,710},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{569,770},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R9b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{569,830},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ResultActive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{1307,338},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ResultInActive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{1112,913},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TDK_BaLaSat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,101}</string>
                <key>spriteSourceSize</key>
                <string>{102,101}</string>
                <key>textureRect</key>
                <string>{{1254,1206},{102,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TDK_BanChoiNoHu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,388}</string>
                <key>spriteSourceSize</key>
                <string>{558,388}</string>
                <key>textureRect</key>
                <string>{{634,2},{558,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TDK_BatGioi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,102}</string>
                <key>spriteSourceSize</key>
                <string>{78,102}</string>
                <key>textureRect</key>
                <string>{{1266,998},{78,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TDK_BgPopupChonDong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,526}</string>
                <key>spriteSourceSize</key>
                <string>{630,526}</string>
                <key>textureRect</key>
                <string>{{2,2},{630,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TDK_DenSang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,352}</string>
                <key>spriteSourceSize</key>
                <string>{350,352}</string>
                <key>textureRect</key>
                <string>{{2,998},{350,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TDK_DenSang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,364}</string>
                <key>spriteSourceSize</key>
                <string>{350,364}</string>
                <key>textureRect</key>
                <string>{{720,998},{350,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TDK_DenSang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,364}</string>
                <key>spriteSourceSize</key>
                <string>{362,364}</string>
                <key>textureRect</key>
                <string>{{354,997},{362,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TDK_DuongTang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,102}</string>
                <key>spriteSourceSize</key>
                <string>{71,102}</string>
                <key>textureRect</key>
                <string>{{460,631},{71,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TDK_HieuUngThang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{519,519}</string>
                <key>spriteSourceSize</key>
                <string>{519,519}</string>
                <key>textureRect</key>
                <string>{{634,392},{519,519}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TDK_Logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,107}</string>
                <key>spriteSourceSize</key>
                <string>{333,107}</string>
                <key>textureRect</key>
                <string>{{340,530},{333,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TDK_NaTra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,102}</string>
                <key>spriteSourceSize</key>
                <string>{104,102}</string>
                <key>textureRect</key>
                <string>{{1148,1159},{104,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TDK_NgoKhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,102}</string>
                <key>spriteSourceSize</key>
                <string>{99,102}</string>
                <key>textureRect</key>
                <string>{{460,530},{99,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TDK_NguuMaVuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,102}</string>
                <key>spriteSourceSize</key>
                <string>{84,102}</string>
                <key>textureRect</key>
                <string>{{1267,790},{84,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TDK_PhatTo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,102}</string>
                <key>spriteSourceSize</key>
                <string>{81,102}</string>
                <key>textureRect</key>
                <string>{{1267,894},{81,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TDK_SaTang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,102}</string>
                <key>spriteSourceSize</key>
                <string>{78,102}</string>
                <key>textureRect</key>
                <string>{{1263,1102},{78,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TQ_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1194,375},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TQ_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1155,487},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TQ_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1155,599},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TQ_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1155,711},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TQ_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1155,823},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TQ_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1154,935},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TQ_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1151,1047},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TQ_BgGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,336}</string>
                <key>spriteSourceSize</key>
                <string>{377,336}</string>
                <key>textureRect</key>
                <string>{{2,530},{377,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TQ_Logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,88}</string>
                <key>spriteSourceSize</key>
                <string>{285,88}</string>
                <key>textureRect</key>
                <string>{{1267,503},{285,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TQ_ResultActive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1155,424},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TQ_ResultInActive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{1112,954},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TextNoHu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,111}</string>
                <key>spriteSourceSize</key>
                <string>{300,111}</string>
                <key>textureRect</key>
                <string>{{1194,73},{300,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AtlasNewSlotMiniGame.png</string>
            <key>size</key>
            <string>{1361,1361}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc49a229e8ca65ca87afd100facdec88:d0774e6c1981c9b11d46af4ba6efdb37:367e85f11b4f31f4e8649d98086dcc2f$</string>
            <key>textureFileName</key>
            <string>AtlasNewSlotMiniGame.png</string>
        </dict>
    </dict>
</plist>
