<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BanChoiTaiXiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{915,405}</string>
                <key>spriteSourceSize</key>
                <string>{915,405}</string>
                <key>textureRect</key>
                <string>{{889,2},{915,405}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BgCuaDangDat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,40}</string>
                <key>spriteSourceSize</key>
                <string>{154,40}</string>
                <key>textureRect</key>
                <string>{{1296,590},{154,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BgCuaDat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,55}</string>
                <key>spriteSourceSize</key>
                <string>{179,55}</string>
                <key>textureRect</key>
                <string>{{1342,340},{179,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BgCuaDat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,57}</string>
                <key>spriteSourceSize</key>
                <string>{182,57}</string>
                <key>textureRect</key>
                <string>{{1044,1163},{182,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BgDatCua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{1342,521},{57,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BgInputXoSo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,56}</string>
                <key>spriteSourceSize</key>
                <string>{336,56}</string>
                <key>textureRect</key>
                <string>{{1296,2},{336,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BgListResults.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,43}</string>
                <key>spriteSourceSize</key>
                <string>{700,43}</string>
                <key>textureRect</key>
                <string>{{2,909},{700,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BgMucCuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,38}</string>
                <key>spriteSourceSize</key>
                <string>{70,38}</string>
                <key>textureRect</key>
                <string>{{1359,928},{70,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BgODatCuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,40}</string>
                <key>spriteSourceSize</key>
                <string>{154,40}</string>
                <key>textureRect</key>
                <string>{{1354,2},{154,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BgOTien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,64}</string>
                <key>spriteSourceSize</key>
                <string>{220,64}</string>
                <key>textureRect</key>
                <string>{{242,1295},{220,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BgTime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1326,1083},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BgXoSo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{885,905}</string>
                <key>spriteSourceSize</key>
                <string>{885,905}</string>
                <key>textureRect</key>
                <string>{{2,2},{885,905}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnDatCua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{808,1106},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnExitMiniGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,53}</string>
                <key>spriteSourceSize</key>
                <string>{54,53}</string>
                <key>textureRect</key>
                <string>{{1333,1344},{54,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnHuongDan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,118}</string>
                <key>spriteSourceSize</key>
                <string>{76,118}</string>
                <key>textureRect</key>
                <string>{{709,1028},{76,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnKetQua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,238}</string>
                <key>spriteSourceSize</key>
                <string>{75,238}</string>
                <key>textureRect</key>
                <string>{{2,1295},{75,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnLichSu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,118}</string>
                <key>spriteSourceSize</key>
                <string>{76,118}</string>
                <key>textureRect</key>
                <string>{{1115,1029},{76,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconXu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,53}</string>
                <key>spriteSourceSize</key>
                <string>{50,53}</string>
                <key>textureRect</key>
                <string>{{1044,1347},{50,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ImgChonDatCuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1194,1228},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgCurrentResult.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{1354,158},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgDatCuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1194,1302},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgDenTaiXiu0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,230}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{576,1106},{230,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgDenTaiXiu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,242}</string>
                <key>spriteSourceSize</key>
                <string>{242,242}</string>
                <key>textureRect</key>
                <string>{{871,919},{242,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgDenTaiXiu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,234}</string>
                <key>spriteSourceSize</key>
                <string>{234,234}</string>
                <key>textureRect</key>
                <string>{{808,1163},{234,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgHelp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{1354,202},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgHistory.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,37}</string>
                <key>spriteSourceSize</key>
                <string>{28,37}</string>
                <key>textureRect</key>
                <string>{{1354,1152},{28,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgLapLanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{527,1295},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgLichSu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,46}</string>
                <key>spriteSourceSize</key>
                <string>{49,46}</string>
                <key>textureRect</key>
                <string>{{1342,580},{49,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgPlayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,34}</string>
                <key>spriteSourceSize</key>
                <string>{41,34}</string>
                <key>textureRect</key>
                <string>{{829,1028},{41,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ImgResultTim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,27}</string>
                <key>textureRect</key>
                <string>{{829,1071},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgRusultTrang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,27}</string>
                <key>textureRect</key>
                <string>{{1354,239},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgSang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{557,954},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgTai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,61}</string>
                <key>spriteSourceSize</key>
                <string>{102,61}</string>
                <key>textureRect</key>
                <string>{{464,1295},{102,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ImgTaiSang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,108}</string>
                <key>spriteSourceSize</key>
                <string>{151,108}</string>
                <key>textureRect</key>
                <string>{{1115,919},{151,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgXepHang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{1257,1099},{35,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgXiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,62}</string>
                <key>spriteSourceSize</key>
                <string>{106,62}</string>
                <key>textureRect</key>
                <string>{{1193,1029},{106,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ImgXiuSang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,117}</string>
                <key>spriteSourceSize</key>
                <string>{160,117}</string>
                <key>textureRect</key>
                <string>{{709,909},{160,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgXucXac1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{1296,746},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgXucXac2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{1296,837},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgXucXac3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{1268,928},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgXucXac4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{1103,1163},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgXucXac5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{1103,1254},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgXucXac6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{1194,1137},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InputXoSo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,44}</string>
                <key>spriteSourceSize</key>
                <string>{248,44}</string>
                <key>textureRect</key>
                <string>{{1296,340},{248,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LogoTaiXiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{572,152}</string>
                <key>spriteSourceSize</key>
                <string>{572,152}</string>
                <key>textureRect</key>
                <string>{{2,1141},{572,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LogoXoSo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{553,185}</string>
                <key>spriteSourceSize</key>
                <string>{553,185}</string>
                <key>textureRect</key>
                <string>{{2,954},{553,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SprXucXac1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{56,60}</string>
                <key>textureRect</key>
                <string>{{729,1338},{56,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SprXucXac10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,68}</string>
                <key>spriteSourceSize</key>
                <string>{63,68}</string>
                <key>textureRect</key>
                <string>{{1268,1302},{63,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SprXucXac11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,62}</string>
                <key>spriteSourceSize</key>
                <string>{51,62}</string>
                <key>textureRect</key>
                <string>{{1331,1221},{51,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SprXucXac2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,66}</string>
                <key>spriteSourceSize</key>
                <string>{62,66}</string>
                <key>textureRect</key>
                <string>{{1331,1019},{62,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SprXucXac3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1285,1152},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SprXucXac4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{527,1338},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SprXucXac5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,68}</string>
                <key>spriteSourceSize</key>
                <string>{57,68}</string>
                <key>textureRect</key>
                <string>{{659,1338},{57,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SprXucXac6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,72}</string>
                <key>spriteSourceSize</key>
                <string>{61,72}</string>
                <key>textureRect</key>
                <string>{{1268,1228},{61,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SprXucXac7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,69}</string>
                <key>spriteSourceSize</key>
                <string>{58,69}</string>
                <key>textureRect</key>
                <string>{{588,1338},{58,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SprXucXac8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,57}</string>
                <key>spriteSourceSize</key>
                <string>{51,57}</string>
                <key>textureRect</key>
                <string>{{1333,1285},{51,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SprXucXac9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,68}</string>
                <key>spriteSourceSize</key>
                <string>{67,68}</string>
                <key>textureRect</key>
                <string>{{1257,1029},{67,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AtlasMiniGame.png</string>
            <key>size</key>
            <string>{1399,1399}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccde30b44bd2956867ff26f634491867:f22e5765d72984d9e326d8ec0c87aa0e:91e78f02dbe59e81b7828ed48da9a493$</string>
            <key>textureFileName</key>
            <string>AtlasMiniGame.png</string>
        </dict>
    </dict>
</plist>
