<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,497},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>AvatarLose.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,719},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>AvatarWait.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,994},{126,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>BanChoiMoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{884,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{884,432}}</string>
                <key>sourceSize</key>
                <string>{884,432}</string>
            </dict>
            <key>BgBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1234},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>BgCuaDatBauCua.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,560},{100,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,115}}</string>
                <key>sourceSize</key>
                <string>{100,115}</string>
            </dict>
            <key>BgFeatureInGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1076},{80,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,77}}</string>
                <key>sourceSize</key>
                <string>{80,77}</string>
            </dict>
            <key>BgInGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1234},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>BgLichSuBauCua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,0},{284,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,108}}</string>
                <key>sourceSize</key>
                <string>{284,108}</string>
            </dict>
            <key>BgLichSuXocDia.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,560},{324,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,108}}</string>
                <key>sourceSize</key>
                <string>{324,108}</string>
            </dict>
            <key>BgMoneyTo.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,501},{248,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,61}}</string>
                <key>sourceSize</key>
                <string>{248,61}</string>
            </dict>
            <key>BgOCuocChanLeXocDia.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1173},{231,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,104}}</string>
                <key>sourceSize</key>
                <string>{231,104}</string>
            </dict>
            <key>BgOCuocXocDia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,798},{175,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,88}}</string>
                <key>sourceSize</key>
                <string>{175,88}</string>
            </dict>
            <key>BgTenLoaiTo.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1122},{121,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,61}}</string>
                <key>sourceSize</key>
                <string>{121,61}</string>
            </dict>
            <key>BgTimeCountDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,669},{189,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,189}}</string>
                <key>sourceSize</key>
                <string>{189,189}</string>
            </dict>
            <key>BgTo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,433},{387,462}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,462}}</string>
                <key>sourceSize</key>
                <string>{387,462}</string>
            </dict>
            <key>BgTotalMoney.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1136},{119,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,36}}</string>
                <key>sourceSize</key>
                <string>{119,36}</string>
            </dict>
            <key>BtnLoginFacebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,563},{252,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,77}}</string>
                <key>sourceSize</key>
                <string>{252,77}</string>
            </dict>
            <key>BtnLoginGoogle.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,896},{253,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,77}}</string>
                <key>sourceSize</key>
                <string>{253,77}</string>
            </dict>
            <key>BtnQuenMatKhau.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,394},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>BtnTrang.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,641},{252,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,77}}</string>
                <key>sourceSize</key>
                <string>{252,77}</string>
            </dict>
            <key>BtnVang.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1076},{253,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,77}}</string>
                <key>sourceSize</key>
                <string>{253,77}</string>
            </dict>
            <key>ButtonBacInGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1018},{164,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,66}}</string>
                <key>sourceSize</key>
                <string>{164,66}</string>
            </dict>
            <key>ButtonNapTienPi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,887},{90,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,93}}</string>
                <key>sourceSize</key>
                <string>{90,93}</string>
            </dict>
            <key>ButtonSlider.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1145},{71,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,36}}</string>
                <key>sourceSize</key>
                <string>{71,36}</string>
            </dict>
            <key>ButtonU.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,719},{160,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,163}}</string>
                <key>sourceSize</key>
                <string>{160,163}</string>
            </dict>
            <key>ButtonVangInGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,887},{164,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,66}}</string>
                <key>sourceSize</key>
                <string>{164,66}</string>
            </dict>
            <key>ButtonXanhInGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,1085},{164,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,66}}</string>
                <key>sourceSize</key>
                <string>{164,66}</string>
            </dict>
            <key>Chip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1223},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>Chip10.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1223},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>Chip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1223},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>Chip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1223},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>Chip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1223},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>Chip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,1173},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>Chip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,1173},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>Chip7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,1158},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>Chip8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1158},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>Chip9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,1220},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>ChipDo.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1154},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>ChipLaCay.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1154},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>ChipTim.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1154},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>ChipXanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1154},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>DiceTrang.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,859},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>DiceXanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1250},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>EffectBetState.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,1075},{87,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,82}}</string>
                <key>sourceSize</key>
                <string>{87,82}</string>
            </dict>
            <key>IconCaiDat.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,661},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>IconChat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,654},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>IconChatHistory.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,704},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>IconMatCuoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1223},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>IconMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,566},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>IconUpload.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,1220},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ImgBat.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,669},{189,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,185}}</string>
                <key>sourceSize</key>
                <string>{189,185}</string>
            </dict>
            <key>ImgBau.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,497},{44,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,68}}</string>
                <key>sourceSize</key>
                <string>{44,68}</string>
            </dict>
            <key>ImgBichDo.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1250},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>ImgBichVang.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1150},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>ImgCa.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1216},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>ImgChat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,954},{156,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,66}}</string>
                <key>sourceSize</key>
                <string>{156,66}</string>
            </dict>
            <key>ImgCoDo.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1150},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>ImgCoVang.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,859},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>ImgCua.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1173},{76,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>ImgDia.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,0},{288,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,288}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>ImgDraw.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,880},{136,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,137}}</string>
                <key>sourceSize</key>
                <string>{136,137}</string>
            </dict>
            <key>ImgFaceDownCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,899},{128,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,176}}</string>
                <key>sourceSize</key>
                <string>{128,176}</string>
            </dict>
            <key>ImgFullTo.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,534},{12,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,440}}</string>
                <key>sourceSize</key>
                <string>{12,440}</string>
            </dict>
            <key>ImgFullToBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,547},{12,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,440}}</string>
                <key>sourceSize</key>
                <string>{12,440}</string>
            </dict>
            <key>ImgGa.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1085},{59,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,71}}</string>
                <key>sourceSize</key>
                <string>{59,71}</string>
            </dict>
            <key>ImgHuou.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1152},{63,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,73}}</string>
                <key>sourceSize</key>
                <string>{63,73}</string>
            </dict>
            <key>ImgKhungMenuGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,896},{255,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,276}}</string>
                <key>sourceSize</key>
                <string>{255,276}</string>
            </dict>
            <key>ImgLapLanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,614},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>ImgMuiTen.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,859},{31,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,39}}</string>
                <key>sourceSize</key>
                <string>{31,39}</string>
            </dict>
            <key>ImgRoDo.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,994},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>ImgRoVang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,1021},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>ImgSlotWait.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1154},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>ImgTepDo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1136},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>ImgTepVang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,753},{15,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,9}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>ImgThang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,289},{166,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,165}}</string>
                <key>sourceSize</key>
                <string>{166,165}</string>
            </dict>
            <key>ImgThang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,456},{218,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,40}}</string>
                <key>sourceSize</key>
                <string>{218,40}</string>
            </dict>
            <key>ImgThang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,1075},{60,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,9}}</string>
                <key>sourceSize</key>
                <string>{60,9}</string>
            </dict>
            <key>ImgThang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,394},{171,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,106}}</string>
                <key>sourceSize</key>
                <string>{171,106}</string>
            </dict>
            <key>ImgThang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,859},{275,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,39}}</string>
                <key>sourceSize</key>
                <string>{275,39}</string>
            </dict>
            <key>ImgThanhCuonTo.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1228},{48,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,72}}</string>
                <key>sourceSize</key>
                <string>{48,72}</string>
            </dict>
            <key>ImgThua.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,433},{501,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,55}}</string>
                <key>sourceSize</key>
                <string>{501,55}</string>
            </dict>
            <key>ImgTimeCountDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,654},{140,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,143}}</string>
                <key>sourceSize</key>
                <string>{140,143}</string>
            </dict>
            <key>ImgTom.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1154},{76,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>ImgVachTo.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,489},{44,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,440}}</string>
                <key>sourceSize</key>
                <string>{44,440}</string>
            </dict>
            <key>ImgVienQuanBai.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,882},{111,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,146}}</string>
                <key>sourceSize</key>
                <string>{111,146}</string>
            </dict>
            <key>ImgVienVangBauCua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,1021},{114,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,131}}</string>
                <key>sourceSize</key>
                <string>{114,131}</string>
            </dict>
            <key>ImgXucXac.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,978},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>KetQuaChanLeXocDia.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,289},{232,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,104}}</string>
                <key>sourceSize</key>
                <string>{232,104}</string>
            </dict>
            <key>KetQuaCuTheXocDia.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,899},{175,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,88}}</string>
                <key>sourceSize</key>
                <string>{175,88}</string>
            </dict>
            <key>Logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,899},{188,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,176}}</string>
                <key>sourceSize</key>
                <string>{188,176}</string>
            </dict>
            <key>TimeCountdownXocDia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,753},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasIngame.png</string>
            <key>size</key>
            <string>{1283,1283}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a75782b177e5cb2045c121f02960eb8a:c8a47e96631cbd81c786613fdbaafc4b:94aa9d7f483f2d3d6b6e83d34726b2f1$</string>
            <key>textureFileName</key>
            <string>AtlasIngame.png</string>
        </dict>
    </dict>
</plist>
