<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,793},{594,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,532}}</string>
                <key>sourceSize</key>
                <string>{594,532}</string>
            </dict>
            <key>BgBanThuong.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1544},{177,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,55}}</string>
                <key>sourceSize</key>
                <string>{177,55}</string>
            </dict>
            <key>BgBanVip.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1544},{176,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,55}}</string>
                <key>sourceSize</key>
                <string>{176,55}</string>
            </dict>
            <key>BgMiniGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,2},{420,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,420}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>BgNoThing.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1569},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>BgNumberMail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,1535},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>BgNumberNotice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,1539},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>BgPhongCho.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,424},{280,497}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,497}}</string>
                <key>sourceSize</key>
                <string>{280,497}</string>
            </dict>
            <key>BgTimeMinigameIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,826},{74,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,29}}</string>
                <key>sourceSize</key>
                <string>{74,29}</string>
            </dict>
            <key>BgTopNew.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{1200,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,79}}</string>
                <key>sourceSize</key>
                <string>{1200,79}</string>
            </dict>
            <key>BgTransparentFull.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,1455},{67,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,61}}</string>
                <key>sourceSize</key>
                <string>{67,61}</string>
            </dict>
            <key>BtnBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,1167},{50,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,47}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>BtnBuy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,1489},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>BtnChat.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1403},{122,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,53}}</string>
                <key>sourceSize</key>
                <string>{122,53}</string>
            </dict>
            <key>BtnDoiThuong.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1413},{157,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,55}}</string>
                <key>sourceSize</key>
                <string>{157,55}</string>
            </dict>
            <key>BtnSuKien.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1528},{122,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,53}}</string>
                <key>sourceSize</key>
                <string>{122,53}</string>
            </dict>
            <key>ButtonBackLobby.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,396},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>ButtonExit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,1327},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>ButtonFeatureBigCenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,793},{201,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,117}}</string>
                <key>sourceSize</key>
                <string>{201,117}</string>
            </dict>
            <key>ButtonFeatureBigLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,923},{201,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,117}}</string>
                <key>sourceSize</key>
                <string>{201,117}</string>
            </dict>
            <key>ButtonFeatureBigRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,1126},{199,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,117}}</string>
                <key>sourceSize</key>
                <string>{199,117}</string>
            </dict>
            <key>ButtonFeatureSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1204},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>ButtonGamePressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,2},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>ButtonMiniGame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,1440},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>ButtonMinigGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,826},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>ButtonSendChat.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,924},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>Exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,254},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>IconAvatarSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,1268},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>IconBanThuong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,1535},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>IconBanVip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,1535},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>IconChucNang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,1219},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>IconDaily.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,1327},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>IconGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,1347},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,82}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>IconGift.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,1392},{63,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,61}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
            <key>IconGoldBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,1427},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>IconHu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,1438},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>IconKiemXu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,1438},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>IconMail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,344},{50,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,36}}</string>
                <key>sourceSize</key>
                <string>{50,36}</string>
            </dict>
            <key>IconMiniGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,1438},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>IconNapPi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,1438},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>IconSplash.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,424},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>IconThongBao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,1535},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>IconXepHang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,1524},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>IconXepHangSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1146},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ImgBanThuong.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1347},{172,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,64}}</string>
                <key>sourceSize</key>
                <string>{172,64}</string>
            </dict>
            <key>ImgBanVip.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,793},{162,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,54}}</string>
                <key>sourceSize</key>
                <string>{162,54}</string>
            </dict>
            <key>ImgLapLanhMinigameIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,996},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ImgLapLanhMinigameIcon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1146},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>ImgLoeSangSplash.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{792,789}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{792,789}}</string>
                <key>sourceSize</key>
                <string>{792,789}</string>
            </dict>
            <key>ImgProgressBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,793},{351,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,21}}</string>
                <key>sourceSize</key>
                <string>{351,21}</string>
            </dict>
            <key>ImgProgressBar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1569},{361,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,29}}</string>
                <key>sourceSize</key>
                <string>{361,29}</string>
            </dict>
            <key>ImgTranparentCenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,254},{240,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,88}}</string>
                <key>sourceSize</key>
                <string>{240,88}</string>
            </dict>
            <key>ImgTranparentLobby.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1327},{240,596}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,596}}</string>
                <key>sourceSize</key>
                <string>{240,596}</string>
            </dict>
            <key>InputChatLobby.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1470},{155,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,56}}</string>
                <key>sourceSize</key>
                <string>{155,56}</string>
            </dict>
            <key>InputNumber.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,923},{242,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,47}}</string>
                <key>sourceSize</key>
                <string>{242,47}</string>
            </dict>
            <key>JarLight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,826},{259,519}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,519}}</string>
                <key>sourceSize</key>
                <string>{259,519}</string>
            </dict>
            <key>JarLight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,923},{253,513}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,513}}</string>
                <key>sourceSize</key>
                <string>{253,513}</string>
            </dict>
            <key>LineXanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,2},{240,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,1}}</string>
                <key>sourceSize</key>
                <string>{240,1}</string>
            </dict>
            <key>Pi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1539},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>Seperater.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{920,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{920,38}}</string>
                <key>sourceSize</key>
                <string>{920,38}</string>
            </dict>
            <key>VienIconGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1292},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1583},{35,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,16}}</string>
                <key>sourceSize</key>
                <string>{35,16}</string>
            </dict>
            <key>Xu.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,957},{43,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,33}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>game slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1204},{197,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,63}}</string>
                <key>sourceSize</key>
                <string>{197,63}</string>
            </dict>
            <key>winclub2409.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,344},{202,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,71}}</string>
                <key>sourceSize</key>
                <string>{202,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasFeatures.png</string>
            <key>size</key>
            <string>{1601,1601}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ea9581f7fc53b19e671198a4bfcd159:ce156db02a1b033f0200b1a963124f0b:dedc040d6b86f5331cb2b755ee4ec799$</string>
            <key>textureFileName</key>
            <string>AtlasFeatures.png</string>
        </dict>
    </dict>
</plist>
