<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,1203},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>BgMiniGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,793},{420,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,420}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>BgNoThing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,852},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>BgNumberMail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,733},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>BgNumberNotice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,1179},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>BgTimeMinigameIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,1358},{74,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,29}}</string>
                <key>sourceSize</key>
                <string>{74,29}</string>
            </dict>
            <key>BgTransparentFull.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1259},{67,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,61}}</string>
                <key>sourceSize</key>
                <string>{67,61}</string>
            </dict>
            <key>ButtonBackLobby.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,1361},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>ButtonExit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,450},{74,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,71}}</string>
                <key>sourceSize</key>
                <string>{74,71}</string>
            </dict>
            <key>ButtonFeatureBigCenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1269},{201,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,117}}</string>
                <key>sourceSize</key>
                <string>{201,117}</string>
            </dict>
            <key>ButtonFeatureBigLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,775},{201,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,117}}</string>
                <key>sourceSize</key>
                <string>{201,117}</string>
            </dict>
            <key>ButtonFeatureBigRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,978},{199,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,117}}</string>
                <key>sourceSize</key>
                <string>{199,117}</string>
            </dict>
            <key>ButtonFeatureSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1278},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>ButtonGamePressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,600},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>ButtonMiniGame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,523},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>ButtonMinigGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,997},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>ButtonSendChat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,1300},{72,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>Exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,793},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>IconChucNang.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1145},{62,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>IconDaily.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,597},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>IconGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,775},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>IconGift.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1145},{63,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,61}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
            <key>IconHu.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1269},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>IconKiemXu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,665},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>IconMail.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1215},{57,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,42}}</string>
                <key>sourceSize</key>
                <string>{57,42}</string>
            </dict>
            <key>IconNapPi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,1179},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>IconSplash.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,793},{350,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>IconThongBao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,1247},{60,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,55}}</string>
                <key>sourceSize</key>
                <string>{60,55}</string>
            </dict>
            <key>IconXepHang.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1201},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>IconXepHangSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,1304},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ImgBanThuong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,244},{204,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,66}}</string>
                <key>sourceSize</key>
                <string>{204,66}</string>
            </dict>
            <key>ImgBanVip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,997},{204,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,66}}</string>
                <key>sourceSize</key>
                <string>{204,66}</string>
            </dict>
            <key>ImgLapLanhMinigameIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,1153},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ImgLapLanhMinigameIcon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1201},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>ImgLoeSangSplash.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{792,789}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{792,789}}</string>
                <key>sourceSize</key>
                <string>{792,789}</string>
            </dict>
            <key>ImgProgressBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1246},{351,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,21}}</string>
                <key>sourceSize</key>
                <string>{351,21}</string>
            </dict>
            <key>ImgProgressBar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1215},{361,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,29}}</string>
                <key>sourceSize</key>
                <string>{361,29}</string>
            </dict>
            <key>ImgTranparentCenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,2},{240,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,88}}</string>
                <key>sourceSize</key>
                <string>{240,88}</string>
            </dict>
            <key>ImgTranparentLobby.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{240,596}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,596}}</string>
                <key>sourceSize</key>
                <string>{240,596}</string>
            </dict>
            <key>InputChatLobby.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,1303},{155,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,56}}</string>
                <key>sourceSize</key>
                <string>{155,56}</string>
            </dict>
            <key>InputNumber.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1145},{220,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,51}}</string>
                <key>sourceSize</key>
                <string>{220,51}</string>
            </dict>
            <key>JarLight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,2},{259,519}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,519}}</string>
                <key>sourceSize</key>
                <string>{259,519}</string>
            </dict>
            <key>JarLight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,852},{253,513}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,513}}</string>
                <key>sourceSize</key>
                <string>{253,513}</string>
            </dict>
            <key>LineXanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1198},{240,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,1}}</string>
                <key>sourceSize</key>
                <string>{240,1}</string>
            </dict>
            <key>Pi.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1322},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>Seperater.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,244},{191,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,5}}</string>
                <key>sourceSize</key>
                <string>{191,5}</string>
            </dict>
            <key>VienIconGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,523},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,733},{35,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,16}}</string>
                <key>sourceSize</key>
                <string>{35,16}</string>
            </dict>
            <key>Xu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,1304},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasFeatures.png</string>
            <key>size</key>
            <string>{1389,1389}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5b9edda5b9df3cc0481fab6b11dccf4:56c8b126f4ac94e491f7bd563a7dbcc7:dedc040d6b86f5331cb2b755ee4ec799$</string>
            <key>textureFileName</key>
            <string>AtlasFeatures.png</string>
        </dict>
    </dict>
</plist>
