<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>Avatar.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{156,156}</string>
    <key>spriteSourceSize</key>
    <string>{156,156}</string>
    <key>textureRect</key>
    <string>{{0,1070},{156,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>AvatarLose.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{156,155}</string>
    <key>spriteSourceSize</key>
    <string>{162,162}</string>
    <key>textureRect</key>
    <string>{{1073,109},{156,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>AvatarWait.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{126,127}</string>
    <key>spriteSourceSize</key>
    <string>{126,127}</string>
    <key>textureRect</key>
    <string>{{1213,433},{126,127}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BanChoiMoi.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{882,429}</string>
    <key>spriteSourceSize</key>
    <string>{884,432}</string>
    <key>textureRect</key>
    <string>{{0,0},{882,429}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BgBlack.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{45,45}</string>
    <key>spriteSourceSize</key>
    <string>{45,45}</string>
    <key>textureRect</key>
    <string>{{1282,1264},{45,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BgCuaDatBauCua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{100,115}</string>
    <key>spriteSourceSize</key>
    <string>{100,115}</string>
    <key>textureRect</key>
    <string>{{253,1227},{100,115}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BgFeatureInGame.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{80,77}</string>
    <key>spriteSourceSize</key>
    <string>{80,77}</string>
    <key>textureRect</key>
    <string>{{977,1142},{80,77}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BgInGame.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{45,45}</string>
    <key>spriteSourceSize</key>
    <string>{45,45}</string>
    <key>textureRect</key>
    <string>{{1134,1075},{45,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BgLichSuBauCua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{284,108}</string>
    <key>spriteSourceSize</key>
    <string>{284,108}</string>
    <key>textureRect</key>
    <string>{{883,295},{284,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BgLichSuXocDia.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{324,108}</string>
    <key>spriteSourceSize</key>
    <string>{324,108}</string>
    <key>textureRect</key>
    <string>{{883,0},{324,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BgMoneyTo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{248,61}</string>
    <key>spriteSourceSize</key>
    <string>{248,61}</string>
    <key>textureRect</key>
    <string>{{933,1003},{248,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BgOCuocChanLeXocDia.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{231,104}</string>
    <key>spriteSourceSize</key>
    <string>{231,104}</string>
    <key>textureRect</key>
    <string>{{933,596},{231,104}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BgOCuocXocDia.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{175,88}</string>
    <key>spriteSourceSize</key>
    <string>{175,88}</string>
    <key>textureRect</key>
    <string>{{1168,736},{175,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BgTenLoaiTo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{121,61}</string>
    <key>spriteSourceSize</key>
    <string>{121,61}</string>
    <key>textureRect</key>
    <string>{{763,1252},{121,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BgTimeCountDown.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{189,189}</string>
    <key>spriteSourceSize</key>
    <string>{189,189}</string>
    <key>textureRect</key>
    <string>{{388,719},{189,189}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BgTo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{387,462}</string>
    <key>spriteSourceSize</key>
    <string>{387,462}</string>
    <key>textureRect</key>
    <string>{{0,430},{387,462}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BgTotalMoney.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{119,36}</string>
    <key>spriteSourceSize</key>
    <string>{119,36}</string>
    <key>textureRect</key>
    <string>{{664,1027},{119,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BtnLoginFacebook.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{181,181}</string>
    <key>spriteSourceSize</key>
    <string>{181,181}</string>
    <key>textureRect</key>
    <string>{{578,719},{181,181}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BtnLoginGoogle.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{181,181}</string>
    <key>spriteSourceSize</key>
    <string>{181,181}</string>
    <key>textureRect</key>
    <string>{{189,893},{181,181}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BtnQuenMatKhau.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,52}</string>
    <key>spriteSourceSize</key>
    <string>{52,52}</string>
    <key>textureRect</key>
    <string>{{1127,1211},{52,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BtnTrang.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{252,77}</string>
    <key>spriteSourceSize</key>
    <string>{252,77}</string>
    <key>textureRect</key>
    <string>{{0,1227},{252,77}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BtnVang.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{253,77}</string>
    <key>spriteSourceSize</key>
    <string>{253,77}</string>
    <key>textureRect</key>
    <string>{{551,1075},{253,77}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ButtonBacInGame.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,65}</string>
    <key>spriteSourceSize</key>
    <string>{164,66}</string>
    <key>textureRect</key>
    <string>{{598,1252},{164,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ButtonNapTienPi.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{90,93}</string>
    <key>spriteSourceSize</key>
    <string>{90,93}</string>
    <key>textureRect</key>
    <string>{{1074,701},{90,93}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ButtonSlider.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{71,36}</string>
    <key>spriteSourceSize</key>
    <string>{71,36}</string>
    <key>textureRect</key>
    <string>{{1230,256},{71,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ButtonU.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{160,163}</string>
    <key>spriteSourceSize</key>
    <string>{160,163}</string>
    <key>textureRect</key>
    <string>{{760,719},{160,163}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ButtonVangInGame.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,65}</string>
    <key>spriteSourceSize</key>
    <string>{164,66}</string>
    <key>textureRect</key>
    <string>{{805,1182},{164,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ButtonXanhInGame.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,65}</string>
    <key>spriteSourceSize</key>
    <string>{164,66}</string>
    <key>textureRect</key>
    <string>{{1168,825},{164,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Chip1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,61}</string>
    <key>spriteSourceSize</key>
    <string>{60,61}</string>
    <key>textureRect</key>
    <string>{{1282,1016},{60,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Chip10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,61}</string>
    <key>spriteSourceSize</key>
    <string>{60,61}</string>
    <key>textureRect</key>
    <string>{{1282,1202},{60,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Chip2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,61}</string>
    <key>spriteSourceSize</key>
    <string>{60,61}</string>
    <key>textureRect</key>
    <string>{{1058,1282},{60,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Chip3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,61}</string>
    <key>spriteSourceSize</key>
    <string>{60,61}</string>
    <key>textureRect</key>
    <string>{{868,909},{60,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Chip4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,61}</string>
    <key>spriteSourceSize</key>
    <string>{60,61}</string>
    <key>textureRect</key>
    <string>{{1282,1078},{60,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Chip5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,61}</string>
    <key>spriteSourceSize</key>
    <string>{60,61}</string>
    <key>textureRect</key>
    <string>{{1282,954},{60,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Chip6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,61}</string>
    <key>spriteSourceSize</key>
    <string>{60,61}</string>
    <key>textureRect</key>
    <string>{{1182,1216},{60,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Chip7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,61}</string>
    <key>spriteSourceSize</key>
    <string>{60,61}</string>
    <key>textureRect</key>
    <string>{{1119,1282},{60,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Chip8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,61}</string>
    <key>spriteSourceSize</key>
    <string>{60,61}</string>
    <key>textureRect</key>
    <string>{{1282,1140},{60,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Chip9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,61}</string>
    <key>spriteSourceSize</key>
    <string>{60,61}</string>
    <key>textureRect</key>
    <string>{{1182,1278},{60,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ChipDo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,70}</string>
    <key>spriteSourceSize</key>
    <string>{68,70}</string>
    <key>textureRect</key>
    <string>{{1182,1074},{68,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ChipLaCay.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,70}</string>
    <key>spriteSourceSize</key>
    <string>{68,70}</string>
    <key>textureRect</key>
    <string>{{1182,1003},{68,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ChipTim.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,70}</string>
    <key>spriteSourceSize</key>
    <string>{68,70}</string>
    <key>textureRect</key>
    <string>{{1058,1211},{68,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ChipXanh.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,70}</string>
    <key>spriteSourceSize</key>
    <string>{68,70}</string>
    <key>textureRect</key>
    <string>{{1182,1145},{68,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DiceTrang.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{28,27}</string>
    <key>spriteSourceSize</key>
    <string>{28,27}</string>
    <key>textureRect</key>
    <string>{{1073,265},{28,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>DiceXanh.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{28,27}</string>
    <key>spriteSourceSize</key>
    <string>{28,27}</string>
    <key>textureRect</key>
    <string>{{1102,265},{28,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>EffectBetState.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{87,82}</string>
    <key>spriteSourceSize</key>
    <string>{87,82}</string>
    <key>textureRect</key>
    <string>{{1168,891},{87,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Group-2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{232,78}</string>
    <key>spriteSourceSize</key>
    <string>{236,84}</string>
    <key>textureRect</key>
    <string>{{551,1153},{232,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Group-3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{232,78}</string>
    <key>spriteSourceSize</key>
    <string>{236,81}</string>
    <key>textureRect</key>
    <string>{{933,924},{232,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>IconCaiDat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,42}</string>
    <key>spriteSourceSize</key>
    <string>{60,42}</string>
    <key>textureRect</key>
    <string>{{784,1027},{60,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>IconChat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{51,49}</string>
    <key>spriteSourceSize</key>
    <string>{51,49}</string>
    <key>textureRect</key>
    <string>{{1074,795},{51,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>IconChatHistory.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{51,48}</string>
    <key>spriteSourceSize</key>
    <string>{51,48}</string>
    <key>textureRect</key>
    <string>{{354,1299},{51,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>IconMatCuoi.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,62}</string>
    <key>spriteSourceSize</key>
    <string>{60,62}</string>
    <key>textureRect</key>
    <string>{{1282,891},{60,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>IconMenu.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{44,47}</string>
    <key>spriteSourceSize</key>
    <string>{44,47}</string>
    <key>textureRect</key>
    <string>{{845,1027},{44,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>IconUpload.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{56,56}</string>
    <key>spriteSourceSize</key>
    <string>{60,60}</string>
    <key>textureRect</key>
    <string>{{977,1289},{56,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgBat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{189,185}</string>
    <key>spriteSourceSize</key>
    <string>{189,185}</string>
    <key>textureRect</key>
    <string>{{883,109},{189,185}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgBau.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{44,68}</string>
    <key>spriteSourceSize</key>
    <string>{44,68}</string>
    <key>textureRect</key>
    <string>{{1135,1142},{44,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgBichDo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{31,33}</string>
    <key>spriteSourceSize</key>
    <string>{31,33}</string>
    <key>textureRect</key>
    <string>{{157,1110},{31,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgBichVang.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{22,23}</string>
    <key>spriteSourceSize</key>
    <string>{22,23}</string>
    <key>textureRect</key>
    <string>{{944,404},{22,23}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgCa.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{66,69}</string>
    <key>spriteSourceSize</key>
    <string>{66,69}</string>
    <key>textureRect</key>
    <string>{{1100,504},{66,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgChat.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{156,66}</string>
    <key>spriteSourceSize</key>
    <string>{156,66}</string>
    <key>textureRect</key>
    <string>{{977,1075},{156,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgCoDo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{21,20}</string>
    <key>spriteSourceSize</key>
    <string>{21,20}</string>
    <key>textureRect</key>
    <string>{{967,404},{21,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgCoVang.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{21,20}</string>
    <key>spriteSourceSize</key>
    <string>{21,20}</string>
    <key>textureRect</key>
    <string>{{989,404},{21,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgCua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{76,68}</string>
    <key>spriteSourceSize</key>
    <string>{76,68}</string>
    <key>textureRect</key>
    <string>{{1058,1142},{76,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgDia.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{288,288}</string>
    <key>spriteSourceSize</key>
    <string>{288,288}</string>
    <key>textureRect</key>
    <string>{{388,430},{288,288}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgDraw.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{136,137}</string>
    <key>spriteSourceSize</key>
    <string>{136,137}</string>
    <key>textureRect</key>
    <string>{{1213,295},{136,137}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgFaceDownCard.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,176}</string>
    <key>spriteSourceSize</key>
    <string>{128,176}</string>
    <key>textureRect</key>
    <string>{{422,1075},{128,176}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgFullTo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,440}</string>
    <key>spriteSourceSize</key>
    <string>{12,440}</string>
    <key>textureRect</key>
    <string>{{1269,891},{12,440}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgFullToBlack.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,440}</string>
    <key>spriteSourceSize</key>
    <string>{12,440}</string>
    <key>textureRect</key>
    <string>{{1256,891},{12,440}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgGa.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{59,71}</string>
    <key>spriteSourceSize</key>
    <string>{59,71}</string>
    <key>textureRect</key>
    <string>{{354,1227},{59,71}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgHuou.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{63,73}</string>
    <key>spriteSourceSize</key>
    <string>{63,73}</string>
    <key>textureRect</key>
    <string>{{1100,430},{63,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgKhungMenuGame.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{255,276}</string>
    <key>spriteSourceSize</key>
    <string>{255,276}</string>
    <key>textureRect</key>
    <string>{{677,430},{255,276}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgLapLanh.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{29,34}</string>
    <key>spriteSourceSize</key>
    <string>{29,34}</string>
    <key>textureRect</key>
    <string>{{157,1144},{29,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgMuiTen.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{31,39}</string>
    <key>spriteSourceSize</key>
    <string>{31,39}</string>
    <key>textureRect</key>
    <string>{{157,1070},{31,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgRoDo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{18,17}</string>
    <key>spriteSourceSize</key>
    <string>{18,17}</string>
    <key>textureRect</key>
    <string>{{1011,404},{18,17}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgRoVang.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,12}</string>
    <key>spriteSourceSize</key>
    <string>{12,12}</string>
    <key>textureRect</key>
    <string>{{883,414},{12,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgSlotWait.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{73,73}</string>
    <key>spriteSourceSize</key>
    <string>{73,73}</string>
    <key>textureRect</key>
    <string>{{885,1252},{73,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgTepDo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{16,18}</string>
    <key>spriteSourceSize</key>
    <string>{16,18}</string>
    <key>textureRect</key>
    <string>{{371,893},{16,18}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgTepVang.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{15,9}</string>
    <key>spriteSourceSize</key>
    <string>{15,9}</string>
    <key>textureRect</key>
    <string>{{677,707},{15,9}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgThang1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{166,165}</string>
    <key>spriteSourceSize</key>
    <string>{166,165}</string>
    <key>textureRect</key>
    <string>{{933,430},{166,165}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgThang2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{218,40}</string>
    <key>spriteSourceSize</key>
    <string>{218,40}</string>
    <key>textureRect</key>
    <string>{{189,1180},{218,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgThang3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,9}</string>
    <key>spriteSourceSize</key>
    <string>{60,9}</string>
    <key>textureRect</key>
    <string>{{883,404},{60,9}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgThang4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{171,106}</string>
    <key>spriteSourceSize</key>
    <string>{171,106}</string>
    <key>textureRect</key>
    <string>{{805,1075},{171,106}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgThang5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{275,39}</string>
    <key>spriteSourceSize</key>
    <string>{275,39}</string>
    <key>textureRect</key>
    <string>{{388,1027},{275,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgThanhCuonTo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,72}</string>
    <key>spriteSourceSize</key>
    <string>{48,72}</string>
    <key>textureRect</key>
    <string>{{1297,0},{48,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgThua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{501,55}</string>
    <key>spriteSourceSize</key>
    <string>{501,55}</string>
    <key>textureRect</key>
    <string>{{388,971},{501,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgTimeCountDown.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{140,143}</string>
    <key>spriteSourceSize</key>
    <string>{140,143}</string>
    <key>textureRect</key>
    <string>{{933,701},{140,143}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgTom.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{76,68}</string>
    <key>spriteSourceSize</key>
    <string>{76,68}</string>
    <key>textureRect</key>
    <string>{{977,1220},{76,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgVachTo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{44,440}</string>
    <key>spriteSourceSize</key>
    <string>{44,440}</string>
    <key>textureRect</key>
    <string>{{1168,295},{44,440}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgVienQuanBai.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{111,146}</string>
    <key>spriteSourceSize</key>
    <string>{111,146}</string>
    <key>textureRect</key>
    <string>{{1230,109},{111,146}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgVienVangBauCua.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{114,131}</string>
    <key>spriteSourceSize</key>
    <string>{114,131}</string>
    <key>textureRect</key>
    <string>{{1213,561},{114,131}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ImgXucXac.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,96}</string>
    <key>spriteSourceSize</key>
    <string>{88,96}</string>
    <key>textureRect</key>
    <string>{{1208,0},{88,96}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>KetQuaChanLeXocDia.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{232,104}</string>
    <key>spriteSourceSize</key>
    <string>{232,104}</string>
    <key>textureRect</key>
    <string>{{189,1075},{232,104}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>KetQuaCuTheXocDia.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{175,88}</string>
    <key>spriteSourceSize</key>
    <string>{175,88}</string>
    <key>textureRect</key>
    <string>{{422,1252},{175,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Layer-1-copy.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{479,61}</string>
    <key>spriteSourceSize</key>
    <string>{483,65}</string>
    <key>textureRect</key>
    <string>{{388,909},{479,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>Logo.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{188,176}</string>
    <key>spriteSourceSize</key>
    <string>{188,176}</string>
    <key>textureRect</key>
    <string>{{0,893},{188,176}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>TimeCountdownXocDia.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{41,41}</string>
    <key>spriteSourceSize</key>
    <string>{41,41}</string>
    <key>textureRect</key>
    <string>{{0,1305},{41,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>login.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{232,78}</string>
    <key>spriteSourceSize</key>
    <string>{236,84}</string>
    <key>textureRect</key>
    <string>{{933,845},{232,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1350,1350}</string>
   <key>textureFileName</key>
   <string>AtlasIngame.png</string>
  </dict>
 </dict>
</plist>
