<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,670},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>AvatarLose.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1217},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>AvatarWait.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,961},{126,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>BanChoiMoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1005,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1005,476}}</string>
                <key>sourceSize</key>
                <string>{1005,476}</string>
            </dict>
            <key>BgBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,743},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>BgCuaDatBauCua.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,477},{100,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,115}}</string>
                <key>sourceSize</key>
                <string>{100,115}</string>
            </dict>
            <key>BgFeatureInGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1176},{80,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,77}}</string>
                <key>sourceSize</key>
                <string>{80,77}</string>
            </dict>
            <key>BgInGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1327},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>BgLichSuBauCua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,289},{284,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,108}}</string>
                <key>sourceSize</key>
                <string>{284,108}</string>
            </dict>
            <key>BgLichSuXocDia.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,670},{324,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,108}}</string>
                <key>sourceSize</key>
                <string>{324,108}</string>
            </dict>
            <key>BgMoneyTo.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,940},{248,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,61}}</string>
                <key>sourceSize</key>
                <string>{248,61}</string>
            </dict>
            <key>BgOCuocChanLeXocDia.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,834},{231,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,104}}</string>
                <key>sourceSize</key>
                <string>{231,104}</string>
            </dict>
            <key>BgOCuocXocDia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,805},{175,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,88}}</string>
                <key>sourceSize</key>
                <string>{175,88}</string>
            </dict>
            <key>BgTenLoaiTo.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,578},{121,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,61}}</string>
                <key>sourceSize</key>
                <string>{121,61}</string>
            </dict>
            <key>BgTimeCountDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,939},{189,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,189}}</string>
                <key>sourceSize</key>
                <string>{189,189}</string>
            </dict>
            <key>BgTo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,477},{387,462}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,462}}</string>
                <key>sourceSize</key>
                <string>{387,462}</string>
            </dict>
            <key>BgTotalMoney.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,1328},{119,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,36}}</string>
                <key>sourceSize</key>
                <string>{119,36}</string>
            </dict>
            <key>BtnLoginFacebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,516},{181,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,181}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>BtnLoginGoogle.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,693},{181,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,181}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>BtnQuenMatKhau.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1327},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>BtnTrang.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,1129},{252,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,77}}</string>
                <key>sourceSize</key>
                <string>{252,77}</string>
            </dict>
            <key>BtnVang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,398},{253,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,77}}</string>
                <key>sourceSize</key>
                <string>{253,77}</string>
            </dict>
            <key>ButtonBacInGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1261},{164,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,66}}</string>
                <key>sourceSize</key>
                <string>{164,66}</string>
            </dict>
            <key>ButtonNapTienPi.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,778},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ButtonSlider.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,789},{71,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,36}}</string>
                <key>sourceSize</key>
                <string>{71,36}</string>
            </dict>
            <key>ButtonU.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1217},{160,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,163}}</string>
                <key>sourceSize</key>
                <string>{160,163}</string>
            </dict>
            <key>ButtonVangInGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,398},{67,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,33}}</string>
                <key>sourceSize</key>
                <string>{67,33}</string>
            </dict>
            <key>ButtonXanhInGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,875},{164,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,66}}</string>
                <key>sourceSize</key>
                <string>{164,66}</string>
            </dict>
            <key>Chip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1251},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>Chip10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,1251},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>Chip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,1157},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>Chip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1159},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>Chip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,1162},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>Chip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,1162},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>Chip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1251},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>Chip7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1313},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>Chip8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1313},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>Chip9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1313},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>ChipDo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,1088},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>ChipLaCay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,1091},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>ChipTim.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,965},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>ChipXanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1255},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>DiceTrang.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,911},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>DiceXanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,640},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>EffectBetState.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,834},{87,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,82}}</string>
                <key>sourceSize</key>
                <string>{87,82}</string>
            </dict>
            <key>F1_B_game-bai_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,779},{315,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,54}}</string>
                <key>sourceSize</key>
                <string>{315,54}</string>
            </dict>
            <key>Group-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,0},{236,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,84}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>Group-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,939},{236,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,81}}</string>
                <key>sourceSize</key>
                <string>{236,81}</string>
            </dict>
            <key>IconCaiDat.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1173},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>IconChat.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,1328},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>IconChatHistory.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,1202},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>IconMatCuoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,1087},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>IconMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,698},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>IconUpload.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,1223},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ImgBat.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,939},{188,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,189}}</string>
                <key>sourceSize</key>
                <string>{188,189}</string>
            </dict>
            <key>ImgBau.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1255},{44,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,71}}</string>
                <key>sourceSize</key>
                <string>{44,71}</string>
            </dict>
            <key>ImgBichDo.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1173},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>ImgBichVang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,474},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>ImgCa.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1202},{50,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,70}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>ImgChat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,894},{156,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,66}}</string>
                <key>sourceSize</key>
                <string>{156,66}</string>
            </dict>
            <key>ImgCoDo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,1219},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>ImgCoVang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,861},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>ImgCua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1088},{70,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,56}}</string>
                <key>sourceSize</key>
                <string>{70,56}</string>
            </dict>
            <key>ImgDia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,0},{288,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,288}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>ImgDraw.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,640},{136,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,137}}</string>
                <key>sourceSize</key>
                <string>{136,137}</string>
            </dict>
            <key>ImgFaceDownCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1207},{128,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,176}}</string>
                <key>sourceSize</key>
                <string>{128,176}</string>
            </dict>
            <key>ImgFullTo.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,644},{12,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,440}}</string>
                <key>sourceSize</key>
                <string>{12,440}</string>
            </dict>
            <key>ImgFullToBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,657},{12,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,440}}</string>
                <key>sourceSize</key>
                <string>{12,440}</string>
            </dict>
            <key>ImgGa.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1253},{67,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,70}}</string>
                <key>sourceSize</key>
                <string>{67,70}</string>
            </dict>
            <key>ImgHuou.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1184},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ImgKhungMenuGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,940},{255,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,276}}</string>
                <key>sourceSize</key>
                <string>{255,276}</string>
            </dict>
            <key>ImgLapLanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,599},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>ImgMuiTen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,1219},{31,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,39}}</string>
                <key>sourceSize</key>
                <string>{31,39}</string>
            </dict>
            <key>ImgRoDo.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1184},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>ImgRoVang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,942},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>ImgSlotWait.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,894},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ImgTepDo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,875},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>ImgTepVang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,466},{15,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,9}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>ImgThang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1207},{166,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,165}}</string>
                <key>sourceSize</key>
                <string>{166,165}</string>
            </dict>
            <key>ImgThang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1336},{218,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,40}}</string>
                <key>sourceSize</key>
                <string>{218,40}</string>
            </dict>
            <key>ImgThang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,533},{60,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,9}}</string>
                <key>sourceSize</key>
                <string>{60,9}</string>
            </dict>
            <key>ImgThang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,698},{171,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,106}}</string>
                <key>sourceSize</key>
                <string>{171,106}</string>
            </dict>
            <key>ImgThang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,476},{275,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,39}}</string>
                <key>sourceSize</key>
                <string>{275,39}</string>
            </dict>
            <key>ImgThanhCuonTo.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1153},{48,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,72}}</string>
                <key>sourceSize</key>
                <string>{48,72}</string>
            </dict>
            <key>ImgThua.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,477},{501,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,55}}</string>
                <key>sourceSize</key>
                <string>{501,55}</string>
            </dict>
            <key>ImgTimeCountDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,795},{140,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,143}}</string>
                <key>sourceSize</key>
                <string>{140,143}</string>
            </dict>
            <key>ImgTom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,1034},{52,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,70}}</string>
                <key>sourceSize</key>
                <string>{52,70}</string>
            </dict>
            <key>ImgVachTo.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,599},{44,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,440}}</string>
                <key>sourceSize</key>
                <string>{44,440}</string>
            </dict>
            <key>ImgVienQuanBai.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,942},{111,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,146}}</string>
                <key>sourceSize</key>
                <string>{111,146}</string>
            </dict>
            <key>ImgVienVangBauCua.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1129},{114,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,131}}</string>
                <key>sourceSize</key>
                <string>{114,131}</string>
            </dict>
            <key>ImgXucXac.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1087},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>KetQuaChanLeXocDia.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,940},{232,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,104}}</string>
                <key>sourceSize</key>
                <string>{232,104}</string>
            </dict>
            <key>KetQuaCuTheXocDia.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,911},{175,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,88}}</string>
                <key>sourceSize</key>
                <string>{175,88}</string>
            </dict>
            <key>Layer-1-copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,533},{483,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,65}}</string>
                <key>sourceSize</key>
                <string>{483,65}</string>
            </dict>
            <key>Logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,516},{188,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,176}}</string>
                <key>sourceSize</key>
                <string>{188,176}</string>
            </dict>
            <key>TimeCountdownXocDia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,474},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>button chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,961},{129,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,60}}</string>
                <key>sourceSize</key>
                <string>{129,60}</string>
            </dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,1054},{97,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,46}}</string>
                <key>sourceSize</key>
                <string>{97,46}</string>
            </dict>
            <key>login.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,237},{236,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,84}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>pi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1153},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,1202},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upload.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1054},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasIngame.png</string>
            <key>size</key>
            <string>{1379,1379}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b6551aafd2046263e75d9e7fe58c8e4:cf7fbfbdb005bb5b0fd0b4308828709a:94aa9d7f483f2d3d6b6e83d34726b2f1$</string>
            <key>textureFileName</key>
            <string>AtlasIngame.png</string>
        </dict>
    </dict>
</plist>
