<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AutoVongquay1.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,515},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>AutoVongquay2.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,711},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>AutoVongquay3.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1371},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>BgHu.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,250},{263,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,60}}</string>
                <key>sourceSize</key>
                <string>{263,60}</string>
            </dict>
            <key>BgResultVongQuay.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{957,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{957,246}}</string>
                <key>sourceSize</key>
                <string>{957,246}</string>
            </dict>
            <key>BgSoLuotFree.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1289},{80,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,54}}</string>
                <key>sourceSize</key>
                <string>{80,54}</string>
            </dict>
            <key>BgVongQuayFree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1365},{490,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,89}}</string>
                <key>sourceSize</key>
                <string>{490,89}</string>
            </dict>
            <key>ChotQuay.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,568},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>ChotQuay2.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,568},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,229}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>Den1.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1365},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>Den2.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,799},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>ForeVongQuayFree.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,250},{310,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,54}}</string>
                <key>sourceSize</key>
                <string>{310,54}</string>
            </dict>
            <key>GiaDo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{144,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,19}}</string>
                <key>sourceSize</key>
                <string>{144,19}</string>
            </dict>
            <key>GiaDo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{200,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,19}}</string>
                <key>sourceSize</key>
                <string>{200,19}</string>
            </dict>
            <key>InfoVongQuay.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1406},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>KimQuay.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,711},{85,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,90}}</string>
                <key>sourceSize</key>
                <string>{85,90}</string>
            </dict>
            <key>TxtQuayAnNgay.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1289},{407,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,115}}</string>
                <key>sourceSize</key>
                <string>{407,115}</string>
            </dict>
            <key>Vong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,250},{316,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,316}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
            <key>Vong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{545,545}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,545}}</string>
                <key>sourceSize</key>
                <string>{545,545}</string>
            </dict>
            <key>Vong3.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,818},{469,469}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,469}}</string>
                <key>sourceSize</key>
                <string>{469,469}</string>
            </dict>
            <key>VongDen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{566,566}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,566}}</string>
                <key>sourceSize</key>
                <string>{566,566}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasVongQuay.png</string>
            <key>size</key>
            <string>{1020,1456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa03e9131393e24aebdcdf5535d0ae4c:70c45e67e9a481386671b580dc4ea5c7:c85ad7948ca730156c67e33a2e9fb4b2$</string>
            <key>textureFileName</key>
            <string>AtlasVongQuay.png</string>
        </dict>
    </dict>
</plist>
