<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BanChoiMoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,770},{848,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{848,432}}</string>
                <key>sourceSize</key>
                <string>{848,432}</string>
            </dict>
            <key>BtnLoginFacebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,2},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>BtnLoginGoogle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,744},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>F1_dang ky mobile.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,965},{232,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,78}}</string>
                <key>sourceSize</key>
                <string>{232,78}</string>
            </dict>
            <key>F1_dang nhap mobile.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,664},{232,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,78}}</string>
                <key>sourceSize</key>
                <string>{232,78}</string>
            </dict>
            <key>ImgProgressBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1567},{530,36}}</string>
                <key>offset</key>
                <string>{-35,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,516},{530,36}}</string>
                <key>sourceSize</key>
                <string>{1200,800}</string>
            </dict>
            <key>ImgProgressBar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1712},{532,38}}</string>
                <key>offset</key>
                <string>{-35,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,515},{532,38}}</string>
                <key>sourceSize</key>
                <string>{1200,800}</string>
            </dict>
            <key>ImgSlotWait.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,1086},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>avatarUpload.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,965},{600,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,600}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>backbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,581},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bau-cua_0000_Group-3-copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,1578},{243,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,105}}</string>
                <key>sourceSize</key>
                <string>{243,105}</string>
            </dict>
            <key>bau-cua_0001_Group-6-copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,1242},{334,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,254}}</string>
                <key>sourceSize</key>
                <string>{334,254}</string>
            </dict>
            <key>become.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,1086},{83,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,41}}</string>
                <key>sourceSize</key>
                <string>{83,41}</string>
            </dict>
            <key>bgMessgae.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1204},{882,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{882,36}}</string>
                <key>sourceSize</key>
                <string>{882,36}</string>
            </dict>
            <key>blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,1519},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>borderAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,912},{172,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,156}}</string>
                <key>sourceSize</key>
                <string>{172,156}</string>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,1188},{232,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,78}}</string>
                <key>sourceSize</key>
                <string>{232,78}</string>
            </dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,482},{97,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,46}}</string>
                <key>sourceSize</key>
                <string>{97,46}</string>
            </dict>
            <key>callBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1242},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,1632},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>closeBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,1519},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>cong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,1712},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>doithuong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,170},{125,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,44}}</string>
                <key>sourceSize</key>
                <string>{125,44}</string>
            </dict>
            <key>editBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1712},{313,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,52}}</string>
                <key>sourceSize</key>
                <string>{313,52}</string>
            </dict>
            <key>editbox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1611,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1611,225}}</string>
                <key>sourceSize</key>
                <string>{1611,225}</string>
            </dict>
            <key>goBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1242},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1755},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1632},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>khung.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1712},{242,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,47}}</string>
                <key>sourceSize</key>
                <string>{242,47}</string>
            </dict>
            <key>label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1755},{220,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,30}}</string>
                <key>sourceSize</key>
                <string>{220,30}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1752},{1,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,387}}</string>
                <key>sourceSize</key>
                <string>{1,387}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{710,734}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,734}}</string>
                <key>sourceSize</key>
                <string>{710,734}</string>
            </dict>
            <key>logoBan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,482},{200,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,180}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,1204},{50,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,36}}</string>
                <key>sourceSize</key>
                <string>{50,36}</string>
            </dict>
            <key>minigame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,1422},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>napsmsBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,229},{248,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,251}}</string>
                <key>sourceSize</key>
                <string>{248,251}</string>
            </dict>
            <key>popupBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,229},{825,539}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{825,539}}</string>
                <key>sourceSize</key>
                <string>{825,539}</string>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,170},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>topBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1632},{1200,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,78}}</string>
                <key>sourceSize</key>
                <string>{1200,78}</string>
            </dict>
            <key>upload.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1605},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>xu.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1755},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NewAssets.png</string>
            <key>size</key>
            <string>{1791,1791}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c96ca6d7cab3fb4bee5ccb95602e621:d54ca8e614ef8e8c2cecb521daf6f86e:52140607fc8271658272eac88b8e4ed5$</string>
            <key>textureFileName</key>
            <string>NewAssets.png</string>
        </dict>
    </dict>
</plist>
