<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ActiveTab.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,240},{396,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,84}}</string>
                <key>sourceSize</key>
                <string>{396,84}</string>
            </dict>
            <key>BanXanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,425},{400,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,194}}</string>
                <key>sourceSize</key>
                <string>{400,194}</string>
            </dict>
            <key>BgButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,712},{365,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,85}}</string>
                <key>sourceSize</key>
                <string>{365,85}</string>
            </dict>
            <key>BgItemInapp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1655,214},{246,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,95}}</string>
                <key>sourceSize</key>
                <string>{246,95}</string>
            </dict>
            <key>BgItemSMS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,240},{247,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,95}}</string>
                <key>sourceSize</key>
                <string>{247,95}</string>
            </dict>
            <key>BgKiemXu.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,799},{233,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,198}}</string>
                <key>sourceSize</key>
                <string>{233,198}</string>
            </dict>
            <key>BgLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,214},{219,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,28}}</string>
                <key>sourceSize</key>
                <string>{219,28}</string>
            </dict>
            <key>BgScrollLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,462},{211,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,20}}</string>
                <key>sourceSize</key>
                <string>{211,20}</string>
            </dict>
            <key>BgTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{1093,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1093,101}}</string>
                <key>sourceSize</key>
                <string>{1093,101}</string>
            </dict>
            <key>BgTop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1200,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,85}}</string>
                <key>sourceSize</key>
                <string>{1200,85}</string>
            </dict>
            <key>Bg_PopupEvent.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2},{236,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,420}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>Bg_TransparentItemPopup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{789,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{789,98}}</string>
                <key>sourceSize</key>
                <string>{789,98}</string>
            </dict>
            <key>BorderIndex.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,955},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>BorderSMS.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,579},{246,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,353}}</string>
                <key>sourceSize</key>
                <string>{246,353}</string>
            </dict>
            <key>BtnBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,712},{50,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,47}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>BtnBackLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,697},{9,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,17}}</string>
                <key>sourceSize</key>
                <string>{9,17}</string>
            </dict>
            <key>BtnPopup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,799},{164,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,66}}</string>
                <key>sourceSize</key>
                <string>{164,66}</string>
            </dict>
            <key>BtnUThuong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{385,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,346}}</string>
                <key>sourceSize</key>
                <string>{385,346}</string>
            </dict>
            <key>BtnUTron.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,325},{385,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,346}}</string>
                <key>sourceSize</key>
                <string>{385,346}</string>
            </dict>
            <key>ButtonTranparent.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,927},{274,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,70}}</string>
                <key>sourceSize</key>
                <string>{274,70}</string>
            </dict>
            <key>CheckBoxClick.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,325},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>Close.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,895},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>IconCall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,875},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>IconChip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,2},{210,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,151}}</string>
                <key>sourceSize</key>
                <string>{210,151}</string>
            </dict>
            <key>IconChuong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,822},{54,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,51}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>IconExp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,638},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>IconFanpage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,816},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>IconHumer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,712},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>IconInbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,541},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>IconLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,598},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>IconReload.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,48},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>IconTrash.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,2},{33,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,44}}</string>
                <key>sourceSize</key>
                <string>{33,44}</string>
            </dict>
            <key>IconVuongNiem.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,934},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ImgCheckMusic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,871},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>ImgCheckMusic2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,849},{104,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,60}}</string>
                <key>sourceSize</key>
                <string>{104,60}</string>
            </dict>
            <key>ImgCheckRung.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,191},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>ImgCheckRung2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,435},{104,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,60}}</string>
                <key>sourceSize</key>
                <string>{104,60}</string>
            </dict>
            <key>ImgLogout.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,638},{46,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,53}}</string>
                <key>sourceSize</key>
                <string>{46,53}</string>
            </dict>
            <key>ImgPlayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,767},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>ImgScrollBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,927},{4,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,47}}</string>
                <key>sourceSize</key>
                <string>{4,47}</string>
            </dict>
            <key>ImgSlider1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,240},{463,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,5}}</string>
                <key>sourceSize</key>
                <string>{463,5}</string>
            </dict>
            <key>ImgSound1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,89},{22,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,34}}</string>
                <key>sourceSize</key>
                <string>{22,34}</string>
            </dict>
            <key>ImgSound2.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,365},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>IndexTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,655},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>InputField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,240},{453,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,47}}</string>
                <key>sourceSize</key>
                <string>{453,47}</string>
            </dict>
            <key>Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{1034,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1034,1}}</string>
                <key>sourceSize</key>
                <string>{1034,1}</string>
            </dict>
            <key>Mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,425},{52,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,36}}</string>
                <key>sourceSize</key>
                <string>{52,36}</string>
            </dict>
            <key>Vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,965},{51,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,28}}</string>
                <key>sourceSize</key>
                <string>{51,28}</string>
            </dict>
            <key>bgItemBuyPotBauCua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,89},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bgVatPham.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,240},{233,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,311}}</string>
                <key>sourceSize</key>
                <string>{233,311}</string>
            </dict>
            <key>bgWaningMSG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{592,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,152}}</string>
                <key>sourceSize</key>
                <string>{592,152}</string>
            </dict>
            <key>bg_itemHistorySanThuong.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,827},{175,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,66}}</string>
                <key>sourceSize</key>
                <string>{175,66}</string>
            </dict>
            <key>bt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,705},{164,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,66}}</string>
                <key>sourceSize</key>
                <string>{164,66}</string>
            </dict>
            <key>btnDropDow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,875},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>btnOriginVuong.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,934},{457,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,63}}</string>
                <key>sourceSize</key>
                <string>{457,63}</string>
            </dict>
            <key>iconHistory.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,254},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>iconNew.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,895},{94,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,95}}</string>
                <key>sourceSize</key>
                <string>{94,95}</string>
            </dict>
            <key>imgCode.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,553},{214,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,142}}</string>
                <key>sourceSize</key>
                <string>{214,142}</string>
            </dict>
            <key>imgEmail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,489},{214,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,142}}</string>
                <key>sourceSize</key>
                <string>{214,142}</string>
            </dict>
            <key>imgFace.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,697},{214,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,142}}</string>
                <key>sourceSize</key>
                <string>{214,142}</string>
            </dict>
            <key>imgGift.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,841},{214,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,142}}</string>
                <key>sourceSize</key>
                <string>{214,142}</string>
            </dict>
            <key>imgInvite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,849},{213,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,142}}</string>
                <key>sourceSize</key>
                <string>{213,142}</string>
            </dict>
            <key>imgLike.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,705},{214,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,142}}</string>
                <key>sourceSize</key>
                <string>{214,142}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,764},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>magioithieu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{1074,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1074,128}}</string>
                <key>sourceSize</key>
                <string>{1074,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Popup.png</string>
            <key>size</key>
            <string>{1814,999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03a267b981a058a23ba79d3e7935bed9:a750cc341e2c14d55dfe528a7a34390e:67a853251e2880c31c6391590c2bbd81$</string>
            <key>textureFileName</key>
            <string>Popup.png</string>
        </dict>
    </dict>
</plist>
